@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
:root{
    --green:#27ae60;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --box-shadown: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid var(var(--black));
}
*{
    font-family: "Gruppo", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.btn{
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background: var(--green);
    color: var(--white);
}
.btn:hover{
    background: var(--black);
}
.container{
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}
.admin-product-form-container form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background: var(--bg-color);
}
.admin-product-form-container form h3{
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}
.admin-product-form-container form .box{
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    background: var(--white);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
@media (max-width:775px){
    html{
        font-size: 55%;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}